@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  background-color: black;
}

a {
  color: #3b7adf;
}

a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

hr {
  background: #24272c;
}

.blackbg {
  background: #060606;
}

.title,
.subtitle {
  color: white;
}

.image_round {
  border-radius: 50%;
}

.navbar, .navbar-menu {
  background: #060606;
}

.navbar .navbar-item {
  color: #e4e2ff;
}

.navbar .navbar-item.is-active {
  color: #e4e2ff;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: inherit;
  color: white;
}

.navbar .navbar-item a {
  margin-left: 1rem;

  color: #e4e2ff;
}


.blog-posts {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.whitebg {
  background: white;
}

#blogentry {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#blogentry h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  font-size: revert;
  font-weight: revert;
  list-style: revert;
  margin: revert;
  padding: revert;
} 

@media (max-width: 479px) {
  #blogentry {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.columns {
  margin-top: revert;
}

#mainpanel {
  background-color: #2D3748;
  border-radius: 5px;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;

  margin-left: 5em;
  margin-right: 5em;
}

@media (max-width: 479px) {
  #mainpanel {
    margin-left: revert;
    margin-right: revert;
  }
}

#mainpanel .title {
  font-weight: 700;
}

.panelgroup {
  margin-bottom: 4em;
}

.project {
  border-radius: 5px;
  background-color: #4A5568;
  margin: 0em 1em 1em 1em;
}

.project .title {
  color: #f6e05e;
}

.project a {
  border-bottom: 2px solid #e4e2ff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #e4e2ff;
  word-break: break-all;
}

.special {
  margin-top: 2em;
  margin-left: 2rem;
  margin-right: 2rem;
}

.special .title {
  font-weight: 500;
  color: #f6e05e;
}

.special a {
  border-bottom: 2px solid #e4e2ff;
  color: #e4e2ff;
}

.special hr {
  border-top: 1px solid #8b8c83;
}

#work {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 5em;
}

#work p {
  color: white;
  font-size: 1.2em;
}